*{
    margin: 0px;
    padding: 0px;
}
.body{
    width: 100vh;
    height: 100vh;
    overflow-y: hidden;
    background: rgb(21,1,52);
    background: linear-gradient(90deg, rgba(21,1,52,1) 9%, rgba(30,2,74,1) 20%, rgba(21,8,105,1) 27%, rgba(4,18,161,1) 57%, rgba(0,77,224,1) 78%, rgba(0,156,230,1) 85%, rgba(0,212,255,1) 97%);

}
.contaner{
    width: 600px;
    height: 600px ;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4 , auto) ;

}
.fbox{
    width: 120px;
    height: 120px ;
    background-color: rgba(255, 255,255, 0.3);
    margin: 15px;
    display: flex;
    border-radius: 15px;
    cursor: pointer;
}
h2{
    margin: auto;
    font-size: 80px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
}
.backv{
    display: none;
}
@media (max-width: 630px ){
    .body{
        display: flex;
    }
    .contaner{
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px ;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4 , auto) ;
    }
    .fbox{
    width: 60px;
    height: 60px ;
    background-color: rgba(255, 255,255, 0.3);
    margin: 15px;
    display: flex;
    border-radius: 15px;
    cursor: pointer;
    }
    
    h2{
    margin: auto;
    font-size: 50px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    }
}